.elementor-1221 .elementor-element.elementor-element-299299f4{--display:flex;--min-height:100vh;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--overflow:hidden;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-1221 .elementor-element.elementor-element-299299f4::before, .elementor-1221 .elementor-element.elementor-element-299299f4 > .elementor-background-video-container::before, .elementor-1221 .elementor-element.elementor-element-299299f4 > .e-con-inner > .elementor-background-video-container::before, .elementor-1221 .elementor-element.elementor-element-299299f4 > .elementor-background-slideshow::before, .elementor-1221 .elementor-element.elementor-element-299299f4 > .e-con-inner > .elementor-background-slideshow::before, .elementor-1221 .elementor-element.elementor-element-299299f4 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-1221 .elementor-element.elementor-element-299299f4, .elementor-1221 .elementor-element.elementor-element-299299f4::before{--border-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-5a5837ad{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-evenly;--align-items:center;--background-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-185a7b4a{--display:flex;--min-height:600px;--justify-content:space-between;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:30px;--margin-right:0px;}.elementor-1221 .elementor-element.elementor-element-185a7b4a.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-1221 .elementor-element.elementor-element-2b7b5abf{--display:flex;--justify-content:center;--background-transition:0.3s;--padding-top:0%;--padding-bottom:0%;--padding-left:15%;--padding-right:15%;}.elementor-1221 .elementor-element.elementor-element-572b1951{--display:flex;--overflow:hidden;--background-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-4b5206e9 .elementor-heading-title{color:var( --e-global-color-accent );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );font-style:var( --e-global-typography-secondary-font-style );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-3ffe5bc3 .elementor-heading-title{color:var( --e-global-color-accent );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );font-style:var( --e-global-typography-secondary-font-style );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-684f1fd9 .elementor-heading-title{color:var( --e-global-color-accent );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );font-style:var( --e-global-typography-secondary-font-style );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-611ab568 .elementor-heading-title{color:var( --e-global-color-accent );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );font-style:var( --e-global-typography-secondary-font-style );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-177ec026 .elementor-heading-title{color:var( --e-global-color-accent );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );text-transform:var( --e-global-typography-secondary-text-transform );font-style:var( --e-global-typography-secondary-font-style );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-19957333{--display:flex;--overflow:hidden;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-1221 .elementor-element.elementor-element-16db9d8e{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-34df32d{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-700d0df7{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-69729cd{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-1c078bab{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-7724cb61{--display:flex;--min-height:74px;--overflow:hidden;--background-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-1fa49c07 .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );padding:15px 30px 15px 30px;}.elementor-1221 .elementor-element.elementor-element-1fa49c07 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1221 .elementor-element.elementor-element-530c24ea .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );padding:15px 30px 15px 30px;}.elementor-1221 .elementor-element.elementor-element-530c24ea > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-1221 .elementor-element.elementor-element-49a56fd8 .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );padding:15px 30px 15px 30px;}.elementor-1221 .elementor-element.elementor-element-49a56fd8 > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-1221 .elementor-element.elementor-element-3d7a970b .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );padding:15px 30px 15px 30px;}.elementor-1221 .elementor-element.elementor-element-3d7a970b > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-1221 .elementor-element.elementor-element-50685d7b .elementor-button{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );background-color:var( --e-global-color-primary );padding:15px 30px 15px 30px;}.elementor-1221 .elementor-element.elementor-element-50685d7b > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-1221 .elementor-element.elementor-element-1ea5443d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--background-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-arrows-yes .elementor-main-swiper{width:calc( 1400px - 40px );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-main-swiper{width:1400px;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-main-swiper .swiper-slide{padding:25px 25px 25px 25px;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__text{color:var( --e-global-color-accent );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__name{color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );text-transform:var( --e-global-typography-accent-text-transform );font-style:var( --e-global-typography-accent-font-style );line-height:var( --e-global-typography-accent-line-height );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__title{color:var( --e-global-color-accent );}body.rtl .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body.rtl .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_above.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-left:0px;margin-right:0;}body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_above.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body.rtl .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body.rtl .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-right:0px;margin-left:0;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_stacked .elementor-testimonial__image + cite,
					 .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_left .elementor-testimonial__image + cite,
					 .elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-testimonial--layout-image_right .elementor-testimonial__image + cite{margin-top:0px;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-swiper-button{font-size:20px;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 > .elementor-widget-container{margin:0px 0px -30px 0px;}.elementor-1221 .elementor-element.elementor-element-4807eb64{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:17px 17px;--background-transition:0.3s;}.elementor-1221 .elementor-element.elementor-element-612fee3a .elementor-button{fill:#111111;color:#111111;background-color:var( --e-global-color-text );border-radius:100px 100px 100px 100px;padding:12px 14px 12px 14px;}body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-612fee3a{left:0px;}body.rtl .elementor-1221 .elementor-element.elementor-element-612fee3a{right:0px;}.elementor-1221 .elementor-element.elementor-element-612fee3a{top:0px;z-index:2;}.elementor-1221 .elementor-element.elementor-element-2606526e .elementor-button{background-color:var( --e-global-color-text );border-radius:100px 100px 100px 100px;padding:12px 14px 12px 14px;}body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-2606526e{right:0px;}body.rtl .elementor-1221 .elementor-element.elementor-element-2606526e{left:0px;}.elementor-1221 .elementor-element.elementor-element-2606526e{top:0px;z-index:2;}@media(max-width:1024px){.elementor-1221 .elementor-element.elementor-element-185a7b4a{--min-height:500px;}.elementor-1221 .elementor-element.elementor-element-4b5206e9 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-3ffe5bc3 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-684f1fd9 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-611ab568 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-177ec026 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-arrows-yes .elementor-main-swiper{width:calc( 620px - 40px );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-main-swiper{width:620px;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__name{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}}@media(min-width:768px){.elementor-1221 .elementor-element.elementor-element-5a5837ad{--width:50%;}.elementor-1221 .elementor-element.elementor-element-185a7b4a{--width:41.575px;}.elementor-1221 .elementor-element.elementor-element-1ea5443d{--width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1221 .elementor-element.elementor-element-5a5837ad{--width:65%;}.elementor-1221 .elementor-element.elementor-element-185a7b4a{--width:5%;}.elementor-1221 .elementor-element.elementor-element-1ea5443d{--width:35%;}}@media(max-width:767px){.elementor-1221 .elementor-element.elementor-element-299299f4{--min-height:0vh;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:60px;--padding-bottom:90px;--padding-left:30px;--padding-right:30px;}.elementor-1221 .elementor-element.elementor-element-185a7b4a{--width:200px;--min-height:30px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-1221 .elementor-element.elementor-element-2b7b5abf{--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-1221 .elementor-element.elementor-element-4b5206e9 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-3ffe5bc3 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-684f1fd9 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-611ab568 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-177ec026 .elementor-heading-title{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0.elementor-arrows-yes .elementor-main-swiper{width:calc( 100% - 40px );}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-main-swiper{width:100%;}.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__name{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-612fee3a{left:0px;}body.rtl .elementor-1221 .elementor-element.elementor-element-612fee3a{right:0px;}.elementor-1221 .elementor-element.elementor-element-612fee3a{top:-100px;}body:not(.rtl) .elementor-1221 .elementor-element.elementor-element-2606526e{right:0px;}body.rtl .elementor-1221 .elementor-element.elementor-element-2606526e{left:0px;}.elementor-1221 .elementor-element.elementor-element-2606526e{top:-100px;}}/* Start custom CSS for container, class: .elementor-element-185a7b4a */.elementor-1221 .elementor-element.elementor-element-185a7b4a{
    --dot-size: 23px;
    --line-color: #B0B7D04D;
    --dot-color: #B0B7D0;
    --dot-color-active: #B0B7D0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a{
    height: 80vh;
    height: var(--min-height);
    max-height: 80vh;
    min-height: 0 !important;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a .dot{
    height: var(--dot-size);
    width: var(--dot-size);
    background: var(--dot-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a .dot-number{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a .dot.active{
    transform: scale(1);
    background: var(--dot-color-active);
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a .dot.active .dot-number{
    opacity: 1;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a:before{
    content: "";
    position: absolute;
    top: 50%;
    height: calc(100% - 20px);
    max-height: 90vh;
    width: 1px;
    background: var(--line-color);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 767px){
.elementor-1221 .elementor-element.elementor-element-185a7b4a{
    transform: translateX(-50%);
    flex-wrap: nowrap !important;
}
.elementor-1221 .elementor-element.elementor-element-185a7b4a:before {
    width: calc(100% - 20px);
    height: 1px;

}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-572b1951 */.elementor-1221 .elementor-element.elementor-element-572b1951{
    --speed: 0.8s;
    --gap: 40px;
}
.elementor-1221 .elementor-element.elementor-element-572b1951{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.currentUp,
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-1221 .elementor-element.elementor-element-572b1951 .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-19957333 */.elementor-1221 .elementor-element.elementor-element-19957333{
    --speed: 0.8s;
    --gap: 40px;
}
.elementor-1221 .elementor-element.elementor-element-19957333{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.currentUp,
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-1221 .elementor-element.elementor-element-19957333 .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7724cb61 */.elementor-1221 .elementor-element.elementor-element-7724cb61{
    --speed: 0.8s;
    --gap: 40px;
}
.elementor-1221 .elementor-element.elementor-element-7724cb61{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.currentUp,
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-1221 .elementor-element.elementor-element-7724cb61 .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-7f54c9d0 */.elementor-1221 .elementor-element.elementor-element-7f54c9d0{
    --radius: 8px;
    --height: 320px;
    --active-height: 410px;
    --overlay: 0.75;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0{
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-in-out;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0.loaded{
    opacity: 1;
    transform: translateX(0);
}

.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-wrapper{
    height: var(--active-height);
    align-items: center;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0:not(.loaded) .swiper-wrapper{
    transition-duration: 0s !important;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-slide{
    display: flex;
    align-items: flex-end;
    border-radius: var(--radius);
    height: var(--height);
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0.loaded .swiper-slide{
    transition: all 0.3s ease-in-out 0.2s;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-slide.swiper-slide-active{
    height: var(--active-height);
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-slide:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,var(--overlay)) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__footer{
    display: block;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__cite{
    z-index: 2;
    position: relative;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__name{
    margin-bottom: 5px;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-pagination,
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-swiper-button{
    display: none;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .swiper-container{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px){
.elementor-1221 .elementor-element.elementor-element-7f54c9d0{
    --height: 180px;
    --active-height: 250px;
}
}
@media (max-width: 767px){
.elementor-1221 .elementor-element.elementor-element-7f54c9d0{
    --height: 80px;
    --active-height: 105px;
    width: 100% !important;
    max-width: var(--container-widget-width, 300px) !important;
}
.elementor-1221 .elementor-element.elementor-element-7f54c9d0 .elementor-testimonial__cite{
    opacity: 0;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-299299f4 */.elementor-1221 .elementor-element.elementor-element-299299f4{
    background: #fff;
    --background-speed: 0.5s;
}
.elementor-1221 .elementor-element.elementor-element-299299f4 .elementor-background-slideshow{
    display: none;
}
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img{
    object-fit: cover;
    opacity: 0;
    transform: scale(1.1);
}
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img.prev,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img.currentBackward,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img.currentForward{
    opacity: 1;
    transform: scale(1.1);
}

.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img.currentBackward,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-background img.currentForward{
    z-index: 1;
    opacity: 1;
    animation: bgNext var(--background-speed) linear;
    transition: all 1s ease-in-out;
    transform: scale(1);
}

.elementor-1221 .elementor-element.elementor-element-299299f4:before{
    z-index: 2;
}
.elementor-1221 .elementor-element.elementor-element-299299f4 > .elementor-element{
    z-index: 3;
}

.elementor-1221 .elementor-element.elementor-element-299299f4 .as-bar,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-left,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-right{
    opacity: 0;
    transition: all 0.8s ease-in-out;
}
.elementor-1221 .elementor-element.elementor-element-299299f4.loaded .as-bar,
.elementor-1221 .elementor-element.elementor-element-299299f4.loaded .as-slider-left,
.elementor-1221 .elementor-element.elementor-element-299299f4.loaded .as-slider-right{
    opacity: 1;
}
/*.elementor-1221 .elementor-element.elementor-element-299299f4 .ds-slider-left a:focus,*/
/*.elementor-1221 .elementor-element.elementor-element-299299f4 .ds-slider-right a:focus{*/
/*    outline: none !important;*/
/*}*/

@keyframes bgNext {
  0%   {opacity: 0; transform: scale(1.1);}
  100%   {opacity: 1; transform: scale(1);}
}

@media (min-width: 768px){
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-bar,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-left,
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-right{
    position: relative;
}
}

@media (max-width: 1380px) and (min-width: 768px){
.elementor-1221 .elementor-element.elementor-element-299299f4{
    padding-left: 4%;
    padding-right: 4%;
}
}

@media (max-width: 767px){
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-left{
    left: calc(50% - 300px/2) !important;
}
.elementor-1221 .elementor-element.elementor-element-299299f4 .as-slider-right{
    right: calc(50% - 300px/2) !important;
}
}/* End custom CSS */